@use '@constants/colors.scss';

.contact-us {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;

    @media (min-width: 576px) {
        align-items: center; // Center align for larger screens
    }

    .logo {
        align-self: flex-start;
        margin-bottom: 20px;

        img {
            width: 100px; // Adjust as per the required size
            margin-left: 20px;

            @media (min-width: 576px) {
                margin-left: 0; // Center align for larger screens
            }
        }
    }

    h4 {
        font-size: 32px;
        font-weight: 700;
        color: #171717; // Primary black text color
        margin-top: 50px;
        margin-bottom: 50px;
        align-self: flex-start;
        margin-left: 20px;

        @media (min-width: 576px) {
            align-self: center; // Center align for larger screens
            margin-left: 0;
        }

        @media (max-width: 576px) {
            font-size: 28px; // Slightly smaller font size for small screens
            text-align: left; // Align to left for smaller screens
        }
    }

    .contact-form {
        margin-left: 20px;

        @media (min-width: 576px) {
            align-items: center;
            margin-left: 0; // Center align for larger screens
        }

        .contact-item {
            margin-bottom: 20px;

            h5 {
                font-size: 18px;
                color: #171717; // Primary black text color
                margin-bottom: 10px;

                @media (max-width: 576px) {
                    font-size: 16px; // Smaller font size for small screens
                }
            }

            p {
                font-size: 16px;
                color: #171717; // Primary black text color

                @media (max-width: 576px) {
                    font-size: 14px; // Smaller font size for small screens
                }
            }

            a {
                text-decoration: none;
                color: #171717; // Primary black text color

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .back-button-container {
        margin-top: 30px;
        align-self: flex-start;
        margin-left: 20px;

        @media (min-width: 576px) {
            margin-left: 0; // Center align for larger screens
            align-self: center;
        }

        @media (max-width: 576px) {
            margin-top: 20px; // Adjust margin for smaller screens
        }
    }

    .back-button {
        font-family: 'Lato', sans-serif;
        font-weight: 700; // Increased button font weight
        background-color: transparent; // No background color for the button
        color: #ff5f1e; // Primary black text color
        border: none;
        padding: 10px 20px; // Adjust padding for a clean look
        width: auto;
        cursor: pointer;

        @media (max-width: 576px) {
            font-size: 14px; // Smaller font size for small screens
            padding: 8px 16px; // Adjust padding for smaller screens
        }
    }
}
