.retake-modal {
    .cancel-btn-retake {
        border: none !important;
        background: none !important;
        color: #F25C22; // Updated to the primary brand color (orange-red)
        font-size: 24px;
    }
}
