@import '@constants/colors.scss';
@import '@constants/typography.scss';

.download-pdf {
    h4 {
        font-size: 23px;
        margin: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }
    h5 {
        font-size: 20px;
        margin: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: $primary-color;
    }
    p {
        color: $primary-color;
        font-size: 18px;
        margin: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        opacity: 0.7;
    }
    .form-head {
        background-color: #ddddff;
        padding: 7px;
        border-radius: 7px;
        h4 {
            margin: 0;
        }
    }
    .pdf-btn {
        display: flex;
        justify-content: end;
        button {
            background: rgba(33, 217, 206, 1);
            color: white;
            font-size: 16px;
            border-radius: 36px;
            border: 2px solid rgba(33, 217, 206, 1) ant;
            padding: 5px 23px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
        }
    }
}
