.custom-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    .search-input {
        max-width: 200px;
    }
    .ag-center-cols-clipper {
        min-height: 450px !important;
    }
}
