@import '@constants/colors.scss';

.stepper-main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
        font-size: 40px;
        color: $primary-color;
        line-height: 64px;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        @media screen and (max-width: 576px) {
            font-size: 34px;
        }
    }
    img {
        width: 277px;
        height: 161px;
        border-radius: 8px;
        object-fit: cover;
        border: 1px solid rgba(16, 28, 133, 1);
    }
    p {
        color: $primary-color;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        margin-left: 50px;
        @media screen and (max-width: 576px) {
            margin-left: 30px;
            max-width: 86%;
        }
    }
    span {
        color: $primary-color;
        font-size: 20px;
        @media screen and (max-width: 576px) {
            margin-left: 0px;
            font-size: 17px;
        }
    }
    .fender-text {
        p {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            max-width: 100%;
        }
    }
    .car-corners {
        display: grid;
        grid-template-columns: auto auto;
        gap: 22px;
        justify-content: center;
        .all-corners {
            border-radius: 12px;
            border: 1px solid #c5c5c5;
            .for-title {
                background: rgba(225, 227, 251, 1);
                border-radius: 12px 12px 5px 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                p {
                    color: $primary-color;
                    font-size: 14px;
                    margin-left: 0px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    max-width: max-content;
                    opacity: 0.7;
                }
            }
            .for-img {
                img {
                    border-radius: 0 0 12px 12px;
                    object-fit: cover;
                    border: none;
                    @media screen and (max-width: 576px) {
                        width: 100%;
                    }
                }
            }
        }
        @media screen and (max-width: 576px) {
            grid-template-columns: auto;
        }
    }
    .car-corners-odo {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        .all-corners {
            border-radius: 12px;
            border: 1px solid #c5c5c5;
            .for-title {
                background: rgba(225, 227, 251, 1);
                border-radius: 12px 12px 5px 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                p {
                    color: $primary-color;
                    font-size: 14px;
                    margin-left: 0px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    max-width: max-content;
                    opacity: 0.7;
                }
            }
            .for-img {
                img {
                    border-radius: 0 0 12px 12px;
                    object-fit: cover;
                    border: none;
                    @media screen and (max-width: 576px) {
                        width: 100%;
                    }
                }
            }
        }
        .all-corners-car {
            border-radius: 12px;
            border: 1px solid #c5c5c5;
            min-height: 118px;
            .for-title {
                background: rgba(225, 227, 251, 1);
                border-radius: 12px 12px 5px 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                p {
                    color: $primary-color;
                    font-size: 14px;
                    margin-left: 0px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    max-width: max-content;
                    opacity: 0.7;
                    @media screen and (max-width: 576px) {
                        font-size: 12px;
                    }
                }
            }
            .for-img {
                img {
                    border-radius: 0 0 12px 12px;
                    object-fit: cover;
                    border: none;
                    @media screen and (max-width: 576px) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .for-damage {
        img {
            width: 332px;
            height: 265px;
            object-fit: cover;
        }
    }
    .for-img-vin {
        img {
            width: 229px;
            height: 118px;
            border: none !important;
        }
    }
    .vin-number {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: rgba(242, 92, 34, 1);
            font-weight: 600;
            margin-left: 0;
            max-width: 100%;
        }
    }
    .code-number {
        background-color: rgba(249, 249, 255, 1);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 11px;
    }

    .code-number-odo {
        background-color: rgba(249, 249, 255, 1);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 11px;
        width: 228px;
        p {
            color: $primary-color;
            font-size: 20px;
            max-width: 100%;
            margin-left: 0px;
        }
    }
    .odometer-form {
        .form-select {
            background-color: white;
            color: rgba(16, 28, 133, 1);
            border: none;
            outline: none;
            border-radius: 3px;
        }
    }
    .for-bg {
        background-color: white;
        color: rgb(16, 28, 133);
        border: none;
        outline: none;
        border-radius: 8px;
        min-width: 204px; /* Set minimum width to 204px */
        max-width: 100%; /* Add this to make sure it doesn't exceed the screen width */
        min-height: 45px;
        position: relative;
        justify-content: center;
        padding: 0 10px;
        display: inline-flex; /* Change display to inline-flex */
        align-items: center; /* Vertically align content */
        overflow: hidden; /* Hide overflow content */
        word-wrap: break-word; /* Wrap long words */
    }

    .save-form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .save-form img {
        cursor: pointer;
    }

    .edit-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: absolute;
        right: 10px;
        background-color: white;
        padding: 0 2px;
        img {
            width: 19px;
            height: auto;
            border: none;
            border-radius: 0;
        }
        p {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            opacity: 1;
            margin-left: 6px;
            background-image: linear-gradient(
                to right,
                rgba(15, 203, 168, 1),
                rgba(33, 217, 206, 1)
            ); /* Add linear gradient to text color */
            -webkit-background-clip: text; /* Apply text clipping */
            -webkit-text-fill-color: transparent;
        }
    }
    .submit-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .submit {
            background: transparent;
            color: rgb(33, 217, 206);
            font-size: 15px;
            border-radius: 36px;
            border: 2px solid rgb(33, 217, 206) !important;
            padding: 3px 17px;
        }
        .cancel {
            background: linear-gradient(to right, rgb(33, 217, 206), rgb(15, 203, 168)) transparent;
            color: white;
            font-size: 15px;
            border-radius: 36px;
            border: none;
            margin-left: 5px;
            border: 2px solid rgb(33, 217, 206) !important;
            padding: 3px 17px;
        }
    }
    .odometer-for-edit {
        p {
            margin: 0;
        }
        .save-form {
            display: flex;
            align-items: center;
            border: none;
            outline: none;
            border-radius: 3px;
            width: 204px;
            background-color: white;
            min-height: 45px;
            padding: 0 10px;
        }
        .form-control {
            border: none;
            color: rgba(16, 28, 133, 1);
            background: none;
            outline: none;
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            padding: 0;
            border-radius: 8px;
            &:focus {
                box-shadow: none;
            }
        }
        img {
            width: 19px;
            height: auto;
            border: none;
            cursor: pointer;
        }
    }
    .heading-block {
        h4 {
            text-align: left;
            font-size: 24px;
        }
    }
    .final-review {
        span {
            margin-left: 0;
        }
    }

    .for-width {
        width: 38%;
        @media screen and (max-width: 576px) {
            width: 100%;
        }
        @media only screen and (min-width: 576px) and (max-width: 768px) {
            width: 75%;
        }
        @media only screen and (min-width: 768px) and (max-width: 992px) {
            width: 55%;
        }
    }
    @media screen and (max-width: 576px) {
        align-items: normal;
    }
}
